.backgroundStyles {
	background-size: cover;
	background-position: center center;
	z-index: 2;
	filter: blur(4px);
}

.backgroundStyles::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(53, 53, 53, 0.5);
}
