*:focus {
	outline: none !important;
}

body {
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	position: fixed;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	text-rendering: optimizeLegibility;
	overflow: hidden;
	touch-action: manipulation;
	-webkit-user-drag: none;
	-ms-content-zooming: none;
	word-wrap: break-word;
	overscroll-behavior-y: none;
	overscroll-behavior-x: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	margin: 0;
	padding: 0;
	scrollbar-width: thin;
}

form {
	margin-block-end: 0;
}

#__next {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: space-between;
	contain: layout size style;
	overflow: hidden;
	z-index: 0;
}

.page {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: space-between;
	contain: layout size style;
	overflow: hidden;
	@apply bg-background;
}

.appBar:after {
	left: 0;
	bottom: -8px;
	background-position: left 0 top 0;
	position: absolute;
	width: 100%;
	height: 8px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAIBAMAAAACWGKkAAAAFVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAASAQCkAAAAB3RSTlMFTEIzJBcOYhQUIwAAAB9JREFUCNdjEIQCBiUoYDCGAgYXKGAIhQKGNChgwAAAorMLKSCkL40AAAAASUVORK5CYII=');
	background-repeat: repeat-x;
	content: '';
	z-index: 1;
}

@media (min-width: 769px) {
	.page {
		border-left: 1px solid;
	}
}

@media (min-width: 769px) {
	* {
		scrollbar-width: thin;
		scrollbar-color: theme('colors.gray.DEFAULT');
	}
	*::-webkit-scrollbar {
		width: 4px;
	}

	*::-webkit-scrollbar-track {
		box-shadow: none;
	}

	*::-webkit-scrollbar-thumb {
		@apply bg-primary;
	}
}

ion-split-pane {
	--side-width: 200px;
	--side-max-width: 200px;
}

ion-menu::part(container) {
	background: none;
}

body.dark .rodal-dialog {
	@apply bg-white-dark;
	@apply text-white;
}
.rodal-dialog {
	@apply bg-white;
	@apply text-white-dark;
}

.split-pane-visible > .split-pane-main,
.split-pane-visible > .split-pane-side {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: relative;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	z-index: 0;
}

/* Remove arrows on number inputs*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
